

body{
	margin-top: 10%;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  
}

.tweet{
	margin-top: 5%;
}

 @media (max-width: 900px) { 
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        float: right;
        padding-right: 2%;
        right: 0;
        top: 0;
    }

    li {
        float: left;
        font-size: 6vw;
        font-weight: 700;
        top: 0;
    }

    .menu{
        display: block;
        color: #000;
        opacity: 0.8;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        top: 0;
    }
 }



 @media (min-width: 900px) { 
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        float: right;
        padding-right: 2%;
        position: fixed;
        right: 0;
        top: 0;
    }

    li {
        float: left;
        font-size: 1.2vw;
        font-weight: 700;
        padding-right: 5%;
    }

    .menu{
        display: block;
        color: #000;
        opacity: 0.8;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        top: 0;
    }
 }

